<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754381819172-4dcnmnlt5l0k43huv7un0pjk2a2n3ffm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754381819172-4dcnmnlt5l0k43huv7un0pjk2a2n3ffm</string>
	<key>API_KEY</key>
	<string>AIzaSyCk5XKrmF1YtwmTi16OpqRtODf03bZvLaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>754381819172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christinacheng.Neighborly</string>
	<key>PROJECT_ID</key>
	<string>neighborly-appodidae</string>
	<key>STORAGE_BUCKET</key>
	<string>neighborly-appodidae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754381819172:ios:d358f882b9a06b347a37b1</string>
</dict>
</plist>